+responsive(mobile-first)
  header
    width 100%
    margin 60px auto 30px auto

    h1
      font-size 24px

    h2
      font-size 24px

    p
      width 300px
      margin 10px
  
  .content
    max-width auto
    width 100%
    height auto
    flex-direction column

+responsive(mobile_all)
  header
    width 300px
    margin 60px auto 30px auto
  
  .content
    max-width auto
    width 100%
    height auto
    flex-direction column

  footer
    width 60%
    margin 0 auto
    text-align center