* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main {
  width: 100%;
  height: 100vh;
  border: 1px solid transparent;
}
header {
  width: 80%;
  height: 180px;
  margin: 10px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
header h1 {
  margin: 0;
  font-weight: 200;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  color: #4c4e61;
}
header h2 {
  margin: 0;
  font-weight: 600;
  font-size: 26px;
  font-family: 'Poppins', sans-serif;
  color: #4c4e61;
}
header p {
  width: 45%;
  text-align: center;
  font-weight: 200;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #4c4e61;
}
.content {
  width: 80%;
  height: calc(100vh - 300px);
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content__left {
  display: flex;
}
.content__left> .container::before {
  content: "";
  position: absolute;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  border-top: 7px solid #45d3d3;
}
.content__middle {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.content__middle> .container:nth-child(1)::before {
  content: "";
  position: absolute;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  border-top: 7px solid #ea5353;
}
.content__middle> .container:nth-child(2)::before {
  content: "";
  position: absolute;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  border-top: 7px solid #fcaf4a;
}
.content__right {
  display: flex;
}
.content__right> .container::before {
  content: "";
  position: absolute;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 7px;
  border-top: 7px solid #549ef2;
}
footer {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer p {
  font-weight: 200;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #4c4e61;
}
footer a {
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
  color: #549ef2;
}
footer a:hover {
  border: 1px dashed #549ef2;
}
.container {
  width: 300px;
  height: 200px;
  border-radius: 10px;
  padding: 25px;
  margin: 10px;
  position: relative;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fafafa;
  box-shadow: 0px 5px 10px 5px #a3a5ae;
}
.container__title {
  width: 100%;
}
.container__title h3 {
  width: 100%;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  color: #4c4e61;
}
.container__title p {
  width: 100%;
  height: 100%;
  font-weight: 200;
  font-size: 12px;
  font-family: 'Poppins', sans-serif;
  color: #a3a5ae;
}
.container__icon {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.container__icon img {
  width: 45px;
  height: 45px;
}
@media only screen and (min-width: 320px) and (max-width: 479px), only screen and (max-width: 320px) {
  .main {
    width: 100%;
    height: auto;
  }
  header {
    width: 100%;
    margin: 60px auto 30px auto;
  }
  header h1 {
    font-size: 24px;
  }
  header h2 {
    font-size: 24px;
  }
  header p {
    width: 300px;
    margin: 10px;
  }
  .content {
    max-width: auto;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
}
@media only screen and (min-width: 320px) and (max-width: 767px), only screen and (max-width: 320px) {
  header {
    width: 300px;
    margin: 60px auto 30px auto;
  }
  .content {
    max-width: auto;
    width: 100%;
    height: auto;
    flex-direction: column;
  }
  footer {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    position: initial;
  }
}
/*# sourceMappingURL=src/styles/main.css.map */
